<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css" >
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="wrapper">
        <form action="" method="POST">
            <h1>Login</h1>
            <div class="input_box">
                <input type="text" placeholder="Username" name="username" required>
                <i class='bx bxs-user'></i>
            </div>
            
            <div class="input_box">
                <input type="password" placeholder="Password" name="password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>

            <div class="remember_forget">
                <label><input type="checkbox"> Remember Me</label>
                <a href="./forgotPassword.html">Forgot password?</a>
            </div>

            <button type="submit" class="submit_button">Login</button>

            <div class="register">
                <p>Don't have an account? <a href="/">Register</a></p>
            </div>
        </form>
        
        <div class="error">
            {% for mesg in get_flashed_messages() %}
              <h1>{{ mesg }}</h1>
            {% endfor %}
          </div>
        
    </div>
</body>
</html>